body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

table, td, th {
    margin: 0 auto;
    padding: 10px;
    border: 1px solid;
    border-collapse: collapse;
}

table {
    margin-top: 20px;
    max-width: 500px;
    min-width: 300px;
}